<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="conexion-DB" value="server =.\\SQLEXPRESS; database = CATALOGO_DB; integrated security = true"/>
		<add key="consulta-listar" value="SELECT A.Id, A.Codigo, A.Nombre, A.Descripcion, M.Descripcion Marca, C.Descripcion Categoria, A.ImagenUrl, A.Precio, M.Id IdMarca, C.Id IdCategoria from ARTICULOS A, CATEGORIAS C, MARCAS M Where M.Id = A.IdMarca AND C.Id = A.IdCategoria AND A.Codigo != '-1' "/>
		<add key="consulta-marca" value="SELECT Id, Descripcion from MARCAS"/>
		<add key="consulta-categ" value="SELECT Id, Descripcion from CATEGORIAS"/>
		<add key="accion-insertar" value="INSERT into ARTICULOS (Codigo, Nombre, Descripcion, IdMarca, IdCategoria, ImagenUrl, Precio) values (@Codigo, @Nombre, @Descripcion, @IdMarca, @IdCategoria, @ImagenUrl, @Precio)"/>		<add key="accion-eliminar" value="DELETE from ARTICULOS where Id = @Id"/>
		<add key="accion-eliminarlogico" value="UPDATE ARTICULOS set Codigo = '-1' where Id = @Id"/>
		<add key="accion-eliminar" value="DELETE from ARTICULOS where Id = @Id"/>
		<add key="accion-modificar" value="UPDATE ARTICULOS set Codigo = @Codigo, Nombre = @Nombre, Descripcion = @Descripcion, IdMarca = @IdMarca, IdCategoria = @IdCategoria, ImagenUrl = @ImagenUrl, Precio = @Precio where Id = @Id"/>
	</appSettings>
</configuration>